@charset "";

body {
    width: 100%;
    height: 3500px;
    background-image: url(../images/check-img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top {
    width: 100%;
    height: 130px;
    background-color: rgb(44, 44, 44);
}

.event .title {
    padding-top: 150px;
    display: 100%;
    width: 100%;
    text-align: center;
}

.event .title img {
    width: 1480px;
    margin-bottom: 200px;
}

.event .con {
    display: 100%;
    width: 100%;
    text-align: center;
}

.event .con img {
       width: 950px;
    margin-bottom: 100px;
}








/* ************* check ************* */

.check .week ul li {
    display: inline-block;
}

.check .checkbox {
    margin-bottom: 100px;
}

.check .week {
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;
}

.check .week .box {
    margin-bottom: 60px;
}

.check .week ul li {
    margin-right: 15px;

    position: relative;
}

.check .week ul li:last-child {
    margin: 0;
}

.check .week ul li img {
    display: block;
    width: 165px;
}

.check .week .box li p{
text-align: center;
    font-family: 'OngleebDaisy';
    font-size: 1.8rem;

    position: absolute;
    top: 17px;
    left: 50%;
    transform: translateX(-50%);
}

.check .box .active {
    display: none; /* 기본적으로 숨김 */
}




/* **************** btn **************** */

.btn {
  margin: 0 auto;
  background-color: #FAAD6D;
  width: 300px;
     text-align: center;
     cursor: pointer;

     border-radius: 20px;

     margin-bottom: 300px;
}

.btn a{
padding: 20px 30px;
    display: inline-block;
   margin: 0 auto;

      font-family: 'OngleebDaisy';
    font-size: 1.8rem;
 
    color: black;
}









#scrollTopBtn {
    display: none; /* 처음엔 숨김 */
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 999;
    
    /* 버튼 배경 및 테두리 제거 */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    
    /* 버튼 크기 조절 */
    width: 60px; 
    height: 60px;
    transition: transform 0.3s ease;
}

#scrollTopBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지 비율 유지 */
}

/* 마우스 올렸을 때 살짝 커지는 효과 */
#scrollTopBtn:hover {
    transform: scale(1.1);
}


